:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /*background-color: #162737;*/
  background-color: #dcdcdc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}
.main-wrapper {
  width: 100vw;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 100px;
}

.roll-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 50%;
  max-width: 700px;
  padding-left: 2rem;
}

.inputs {
  width: 96%;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  height: 2rem;
}

.inputs input,
.inputs select {
  background: #e9e9e9;
  border: none;
  width: 24%;
  max-width: 200px;
  height: 50px;
  padding: 0 15px;
  border-radius: 10px;
  margin-right: 10px;
  color: #494949;
  font-weight: bold;
  font-size: 16px;
  border: none;
  outline: none;
}

.inputs button {
  background-color: #494949;
  padding: 0 15px;
  height: 50px;
  font-weight: bold;
  border-radius: 10px;
  color: #e9e9e9;
  font-size: 16px;
  border: none;
  outline: none;
}

.desc-wrapper {
  width: 96%;
  margin: auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 30px;
}

.desc-wrapper div {
  width: 45%;
}

.desc-wrapper div:nth-child(2),
.desc-wrapper div:nth-child(4) {
  margin-left: 5%;
}

.version-title {
  margin-top: 20px;
  margin-bottom: 0;
  color: #494949;
}

.version-description {
  margin: 10px 0 auto;
  font-size: 18px;
  color: #282828;
}
