$roll-border-color: #f3eada;
$roll-thickness-color: #f3eade;
$roll-core-color: #bca28b;
$roll-core-color-shadow: #a89284;
$roll-material-color: #ffffff;
$roll-material-color-shadow: #c6c3c1;
$label-color: #a3abb2;

// wrapper
.component-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
  padding-left: 15rem;
}

// inputs
.inputs {
  position: fixed;
  top: auto;
  inset: 0;
  top: -35rem;
  margin: auto;
  z-index: 50;
  display: flex;
  justify-content: center;
  height: 2rem;
}

.roll {
  position: sticky;
  top: 0;
  left: 0;
  margin: 0;
  transform: translateY(-70px);

  * {
    box-sizing: border-box;
  }

  .cylinder {
    width: 100%;
    height: 100%;
    min-height: 30px;
    background-image: linear-gradient(
      90deg,
      $roll-material-color 50%,
      $roll-material-color-shadow 50%
    );
    overflow-x: visible;
    overflow-y: hidden;
    border-bottom-left-radius: 60% 30%;

    .roll_length {
      top: calc(17.5% + 2px);
      padding: 4px;
      padding-left: 0;
      position: absolute;
      border-bottom-left-radius: 20% 30%;
      background-color: $roll-material-color;

      .label-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 auto 0 0;
      }

      .loading {
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        color: black;
        width: 100%;
        text-align: center;
      }
    }

    .roll_length.min-width {
      top: 10px;
    }

    .roll_length.min-height {
      min-height: 100%;
    }
  }

  .roll_thickness {
    z-index: 2;
    top: -17.5%;
    left: 0;
    position: absolute;
    background-color: $roll-thickness-color;
    width: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px $roll-material-color-shadow;
    height: 35%;
    width: 100%;

    /* core */
    .thickness_core {
      position: relative;
      z-index: 4;
      width: 30%;
      height: 30%;
      border-radius: 50%;
      background-image: linear-gradient(
        -130deg,
        $roll-core-color 65%,
        $roll-core-color-shadow 50%
      );
    }
  }
  .roll_thickness.min-width {
    min-height: 20px;
    top: -10px;
  }
}

// label wrapper
.roll {
  .label-wrapper {
    .label,
    .label-is-curved {
      flex-shrink: 0;
      flex-grow: 0;
      margin-right: 5px;
      //background-color: #a3abb2;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1px;
      overflow: hidden;
      box-sizing: content-box;

      .label-design {
        overflow: hidden;
        background-color: $label-color;
        width: 100%;
        height: 100%;
      }
    }

    .label-is-curved {
      display: block;
      transform: translate(-2px, -15%);
      overflow: visible;
      background-color: transparent;
    }
  }
}

// shapes
.roll {
  .label-wrapper {
    .square {
      border-radius: 0.5em;

      .label-design {
        border-radius: 0.5em;
      }
    }

    .small-square {
      border-radius: 3px;
      .label-design {
        border-radius: 3px;
      }
    }

    .squared-corners {
      border-radius: 0;

      .label-design {
        border-radius: 0;
      }
    }

    .round {
      overflow: hidden;

      .label-design {
        border-radius: 50%;
      }
    }

    .custom {
      overflow: hidden;

      .label-design {
        clip-path: polygon(
          50% 0,
          61% 35%,
          98% 35%,
          68% 57%,
          79% 91%,
          50% 70%,
          21% 91%,
          32% 57%,
          2% 35%,
          39% 35%
        );

        .orientation {
          background-size: 50%;
        }
      }
    }

    .previous {
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

      .label-design {
        width: 98%;
        height: 98%;
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

        .orientation {
          background-size: 70%;
        }
      }
    }
  }
}

// orientation shapes
.roll {
  .label-wrapper {
    .label {
      .orientation {
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      .one {
        background-image: url("layouts/logo_v.svg");
        transform: rotate(180deg);
      }
      .two {
        background-image: url("layouts/logo_v.svg");
      }
      .three {
        background-image: url("layouts/logo_h.svg");
      }
      .four {
        background-image: url("layouts/logo_h.svg");
        transform: rotate(-180deg);
      }
      .orientation-custom.one,
      .orientation-custom.two {
        background-size: 17%;
      }
    }
  }
}

// check if the label should be curved to go around the roll: SQUARED LABELS
.roll {
  .label-wrapper {
    .label-is-curved {
      .design-curved {
        position: relative;
        width: 100%;
        height: 200%;

        .design {
          width: 100%;
          height: 100%;
          width: 100%;
          background-color: $label-color;
          // transform: rotate(145deg); // transform the

          div {
            width: 100%;
            height: 60%;
            background-position: center;
            background-repeat: no-repeat;
          }
        }

        .design.orientation-one {
          div {
            background-size: contain;
            background-image: url("/layouts/logo_v2_1.png");
          }
        }

        .design.orientation-two {
          div {
            background-size: contain;
            background-image: url("/layouts/logo_v2_2.png");
          }
        }

        .design.orientation-three.logo-1 {
          div {
            background-size: 82%;
            background-image: url("/layouts/logo_h_c.png");
          }
        }
        .design.orientation-three.logo-2,
        .design.orientation-three.logo-4 {
          div {
            background-size: 82%;
            background-image: url("/layouts/logo_h_c_2.png");
          }
        }
        .design.orientation-three.logo-3 {
          div {
            background-size: 90%;
            background-image: url("/layouts/logo_h_c_3.png");
          }
        }
        .design.orientation-four.logo-1 {
          div {
            background-size: 82%;
            background-image: url("/layouts/logo_h_c_flip.png");
          }
        }
        .design.orientation-four.logo-3 {
          div {
            background-size: 90%;
            background-image: url("/layouts/logo_h_c_3_flip.png");
          }
        }
        .design.orientation-four.logo-2,
        .design.orientation-four.logo-4 {
          div {
            background-size: 82%;
            background-image: url("/layouts/logo_h_c_2_flip.png");
          }
        }
      }
    }
  }
}

// check if the label should be curved to go around the roll: SQUARED LABELS
.roll {
  .label-wrapper {
    .label-is-curved.round {
      position: relative;
      margin-left: 2px;

      .design-curved {
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $label-color;
        overflow: hidden;

        .orientation.one {
          transform: none;
          background-size: contain;
          background-image: url("/layouts/logo_v2_1.png");
        }

        .orientation.two {
          transform: none;
          background-size: contain;
          background-image: url("/layouts/logo_v2_2.png");
        }

        .orientation.three {
          display: inline-block;
          background-size: 85%;
          background-position: center;
        }

        .orientation.three.orientation-logo-4 {
          background-image: url("/layouts/logo_h_c_2.png");
        }

        .orientation.three.orientation-logo-3 {
          background-image: url("/layouts/logo_h_c_3.png");
        }

        .orientation.three.orientation-logo-2 {
          background-image: url("/layouts/logo_h_c_2.png");
        }

        .orientation.three.orientation-logo-1 {
          background-image: url("/layouts/logo_h_c.png");
        }

        .orientation.four.orientation-logo-3 {
          background-image: url("/layouts/logo_h_c_3_flip.png");
        }

        .orientation.four.orientation-logo-1 {
          background-image: url("/layouts/logo_h_c_flip.png");
        }

        .orientation.four.orientation-logo-4,
        .orientation.four.orientation-logo-2 {
          background-image: url("/layouts/logo_h_c_2_flip.png");
        }
      }
    }
  }
}

// transform custom labels
.roll {
  .label-wrapper {
    .label-is-curved.round {
      .design-curved.custom {
        clip-path: polygon(
          50% 0,
          61% 35%,
          98% 35%,
          68% 57%,
          79% 91%,
          50% 70%,
          21% 91%,
          32% 57%,
          2% 35%,
          39% 35%
        );

        .orientation {
          transform: none;
          background-size: 25%;
        }
      }
    }
  }
}
